@keyframes moving {
    from {
        transform: translateY(0px) ;
    } 
    50% {
        transform: translateY(540px);
    }
    to {
        transform: translateY(1080px);
    }
}

.animated-section{
    margin: 5px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    &_container {
        display: flex;
        flex-flow: column nowrap;
        gap: 5px;
    }
    &_element {

    }
}

.left {
    position: relative;
    overflow: hidden;
    svg {
        overflow: visible;
        z-index: 9;
        animation: moving 10s infinite linear;

    }
}
.center {

}
.right {
    
}